fastapi==0.139.2
groq==1.5.0
langchain_community==0.4.2
langchain_text_splitters==1.1.2
passlib==1.7.4
psycopg2_binary==2.9.12
pydantic==2.13.4
python-dotenv==1.2.2
python_jose==3.5.0
Requests==2.34.2
